<!-- Hero Section -->


<section
  class="bg-cover bg-center h-screen text-white relative"
  style="background-image: url('images/homePage.jpg');"
>
  {{#if currentUser}}
 <div id="login-success" class="bg-blue-500 p-4 text-white fixed top-10 left-0 right-0 z-50 transform translate-y-full transition-transform ease-in duration-300 text-center opacity-80" id="success-message">
{{success}}
    </div>

    {{/if}}
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center"
  >
    <h1 class="text-4xl font-semibold mb-4">Discover Your Favorite Movies</h1>
    <p class="text-lg mb-8">Explore a vast collection of movies.</p>
    <a
      href="/api/movies"
      class="bg-red-600 hover:bg-red-700 text-white py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105"
    >Explore Movies</a>
  </div>
</section>

<!-- Featured Movies Section -->
<section class="container mx-auto py-16">
  <h2 class="text-3xl font-semibold mb-8 ml-8">Top 10 Movies based on IMDB rating</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 px-6"
  >
    <!-- Featured Movie Cards (Repeat for each movie) -->
  

    {{#each movies}}

      <div
        class="flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto m-6"
      >

        <div
          class="overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-lg hover:shadow-2xl movie-item text-white movie-card"
          data-movie-id="438631"
        >
          <div
            class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent"
          ></div>
          <div
            class="relative cursor-pointer group z-10 px-10 pt-10 space-y-6 movie_info"
            data-lity=""
            href="https://www.youtube.com/embed/aSHs224Dge0"
          >
            <div class="poster__info align-self-end w-full">
              <div class="h-16"></div>
              <div class="space-y-6 detail_info">
                <div class="flex flex-col space-y-2 inner">
                  <a
                    class="relative flex items-center w-min flex-shrink-0 p-1 text-center text-white bg-red-500 rounded-full group-hover:bg-red-700"
                    data-unsp-sanitized="clean"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-10 h-10"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9.555 7.168A1 1 0 0 0 8 8v4a1 1 0 0 0 1.555.832l3-2a1 1 0 0 0 0-1.664l-3-2z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                    <div
                      class="absolute transition opacity-0 duration-500 ease-in-out transform group-hover:opacity-100 group-hover:translate-x-16 text-xl font-bold text-white group-hover:pr-2"
                    >Trailer</div>
                  </a>
                  <h3
                    class="text-2xl font-bold text-white"
                    data-unsp-sanitized="clean"
                  >{{title}}</h3>
                  {{! <div class="mb-0 text-lg text-gray-400">Beyond fear, destiny
                    awaits.</div> }}
                </div>
                {{! <div class="flex flex-row justify-between datos"> }}
                {{! <div class="flex flex-col datos_col">
                    <div class="popularity">440.052</div>
                    <div class="text-sm text-gray-400">Popularity:</div>
                  </div> }}
                {{! <div class="flex flex-col datos_col">
                    <div class="release">2021-09-15</div>
                    <div class="text-sm text-gray-400">Release date:</div>
                  </div> }}
                {{! <div class="flex flex-col datos_col">
                    <div class="release">155 min</div>
                    <div class="text-sm text-gray-400">Runtime:</div>
                  </div> }}
                {{! </div> }}
                <div class="flex flex-col overview">
                  <div class="flex flex-col"></div>
                  <div class="text-xs text-gray-400 mb-2">Overview:</div>
                  <p class="text-xs text-gray-100 mb-6">
                    {{plot}}
                  </p>
                </div>
              </div>
              {{! <div
                data-countdown="2021-09-15"
                class="absolute inset-x-0 top-0 pt-5 w-full mx-auto text-2xl uppercase text-center drop-shadow-sm font-bold text-white"
              >00 Days 00:00:00</div> }}
            </div>
          </div>
          <img
            class="absolute inset-0 transform w-full -translate-y-4"
            src="{{poster}}"
            style="filter: grayscale(0);"
          />
          <div
            class="poster__footer flex flex-row relative pb-10 space-x-4 z-10"
          >
            <a
              class="flex items-center py-2 px-4 rounded-full mx-auto text-white bg-red-500 hover:bg-red-700"
              href="/api/movies/{{_id}}"
              data-unsp-sanitized="clean"
            >

              <div class="text-sm text-white ml-2">Show details</div>
            </a>
          </div>
        </div>

      </div>

    {{/each}}

 
</section>

