<!-- component -->
<div class="bg-gray-100 p-6 flex flex-col justify-center sm:py-12">

  <div class="w-8/12 py-3 m-auto">

    <div class="flex justify-between items-center mb-4">

      <h1 class="text-3xl font-bold">
      </h1>
      <a
        href="/updateMovie/{{movieData._id}}"
        class="bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
      >Edit Content</a>
    </div>
    <div
      class="bg-white shadow-lg border-gray-100 border sm:rounded-3xl p-8 flex justify-center gap-12"
    >

      <div class="overflow-visible w-1/2">
        <img class="rounded-3xl shadow-lg" src="{{movieData.poster}}" alt="" />
      </div>

      <div class="flex flex-col w-1/2 space-y-4">
        <div class="flex justify-between items-start">
          <h2 class="text-3xl font-bold">{{movieData.title}}</h2>
          <div
            class="bg-yellow-400 font-bold rounded-xl p-2"
          >{{movieData.imdb.rating}}</div>
        </div>
        {{! <div>
          <div class="text-sm text-gray-400">Series</div>
          <div class="text-lg text-gray-800">2019</div>
        </div> }}
        <p
          class="text-gray-400 max-h-40 overflow-y-hidden"
        >{{movieData.plot}}</p>

        <!-- Additional fields -->
        <div>
          <div class="text-sm text-gray-400">Genres</div>
          <div class="text-gray-400">
            {{#each movieData.genres}}{{this}}{{#unless @last}},
              {{/unless}}{{/each}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Runtime</div>
          <div class="text-sm text-gray-800">{{movieData.runtime}} minutes</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Rated</div>
          <div class="text-sm text-gray-800"> G </div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Released</div>
          <div class="text-sm text-gray-800">
            {{formatReleaseDate movieData.released}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">IMDb Rating</div>
          <div class="text-sm text-gray-800">{{movieData.imdb.rating}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">IMDb Votes</div>
          <div class="text-sm text-gray-800">{{movieData.imdb.votes}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Directors</div>
          <div class="text-sm text-gray-800">
            {{#each movieData.directors}}{{this}}{{#unless @last}},
              {{/unless}}{{/each}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Writers</div>
          <div class="text-sm text-gray-800">{{#each
              movieData.writers
            }}{{this}}{{#unless @last}},
              {{/unless}}{{/each}}</div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Cast</div>
          <div class="text-sm text-gray-800">
            {{#each movieData.cast}}
              <li>{{this}}</li>
            {{/each}}</div>
        </div>

      </div>
    </div>
  </div>

</div>